@font-face {
    font-family: Poppins Lighter;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}


@font-face {
    font-family: Poppins;
    src: url(./assets/fonts/Poppins-ExtraBold.ttf)
}

* {
    box-sizing: border-box;
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
    --Purple: hsl(259, 100%, 65%);
}

body {
    background-color: var(--Light-grey);
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

main {
    height: 550px;
    width: 650px;
    padding: 50px;
    /* border: 1px solid var(--Light-grey); */
    background-color: var(--White);
    border-radius: 20px 20px 200px 20px;
    margin: 120px auto;
    display: absolute;
}

form {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.divider {
    border: 1px solid var(--Off-white);
}
.title {
    text-transform: uppercase;
    text-align: center;
    color: var(--Smokey-grey);
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 5px;
}

input {
    width: 120px;
    height: 60px;
    padding: 20px;
    color: var(--Smokey-grey);
    border: 1px solid var(--Light-grey);
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}

input[type="text"]:focus {
    border: 1px solid var(--Purple);
    cursor: pointer;
}

button {
    border: none;
    background-color: var(--White);
}

img {
    background-color: var(--Purple);
    display: inline-block;
    border-radius: 50%;
    width: 80px;
    position: relative;
    top: -50px;
    left: 500px;
    padding: 25px;
}

img:hover {
    background-color: var(--Off-black);
    cursor: pointer;
}

.output {
    font-size: 5em;
    font-style: italic;
    margin-bottom: -15px;
}

.output:first-of-type {
    margin-top: -90px;
}

.output-number {
    color: var(--Purple);
    animation-name: effect;
    animation-duration: 4s;
}

@keyframes effect {
    0%{
        opacity: 0;
    } 
    25%{
        opacity: 0.5;
    }
    
    75%{
        opacity: 0.75;
    }

    100%{
        opacity: 1;
    }
   }

small {
    font-family: "Poppins Lighter";
    font-weight: lighter;
    font-size: 0.7rem;
    font-style: italic;
}

@media screen and (max-width:576px) {
    main {
    height: 65vh;
    width: 90vw;
    margin: 80px auto;
    padding: 30px 40px;
    border-radius: 20px 20px 100px 20px;
    }

    form {
        gap: 10px;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
    }

    .title {
        letter-spacing: 2px;
    }

    input {
        width: 80px;
        height: 60px;
        padding: 5px;
    }

    .divider {
        margin-bottom: 30px;
    }

    img {
    top: -73px;
    left: 70px;
    }

    .output {
    font-size: 2.5rem;
    margin: 0;
    }
}
